#title{
    background-color: #ff4c68;
    color:white;

}

h1{
    font-family: 'Montserrat';
    font-size:3.5rem;
    font-weight: 900;
    line-height: 1.5;
}

h2{
    font-family: 'Montserrat';
    font-size:3rem;
    font-weight:600;
    line-height: 1.5;
}


h3{
    font-family: "Montserrat";
    font-weight: 600;
    font-size: 126.26%;
}

p{
    color: #8f8f8f;
}

.container-fluid{
    padding:3% 15% 7%;
}

body{
    font-family: "Montserrat" ;
}

/*Nvigation Bar*/

.navbar{
    padding:0 0 4.5rem 0;
}

.navbar-brand{
    font-family: "Ubuntu";
    font-size:2.5rem;
    font-weight: 2.5;
}

.nav-item {
    padding: 0 18px;
}

.nav-link {
    font-size: 1.25rem;
    font-family: "montserrat";
    font-weight:300;
}

.apple-download{
    margin:5% 3% 5% 0;
}

.apple-download:hover{
    background-color: #cdb7f7 ;
}

.play-download{
    margin:5% 3% 5% 0;
}

.play-download:hover{
    background-color: #cdb7f7;
}

.title-image{
    width:25%;
    transform: rotate(25deg);
    position: absolute;
    right: 25%;
}

/*Feature icons*/
#features{
    padding: 7% 15%;
    background-color: white;
    position: relative;
}

.feature-box{
    text-align: center;
    padding: 5%;
}

.feature-icon{
    color: #ef8172;
    margin-bottom: 1rem;
}

.feature-icon:hover{
    color: #ff4c68;
}

/* testimonial */

#testimonials{
    text-align: center;  
    background-color: #ef8172;
    color: white;
}

.testimonial-image{
    width: 10%;
    border-radius: 100%;
    margin: 20px;
}

.carousel-item{
    padding: 7% 15%;

}

#press{
    background-color: #ef8172 ;
    text-align: center;
    padding-bottom:3%; 
}

.press-logo{
    width: 15%;
    margin: 20px 20px 50px;
}

.butt{
    margin:5% 7% ;
}

#pricing{
    padding:100px;
    text-align: center;
}


.price{
    padding: 3% 2%;
}


@media(max-width:1028px){

    #title{
        text-align: center;
    }

    .title-image{
        position: static;
        transform: rotate(0);
        width: 60%;
    }
}

#cta{
    background-color: #ff4c68;
    text-align: center;
    color: white;
    padding: 7% 13%;
}

.cta-footer{
    font-family: montserrat;
    font-size: 3.5rem;
    font-weight: 600;
    line-height: 1.5;   
}

#footer{
    text-align: center;
    background-color: white;
    margin:5%;
}

.small-logo{
    margin: 1%;
}


